@import url('https://fonts.googleapis.com/css?family=Gugi');

body{
    background: #9874db;
    color:rgb(85, 82, 82);
    font-family: 'Gugi',cursive;
    font-weight: 300;
}
body > header{
    border: 1px solid #000000;
    border-top: none;
    margin: 0px;
}