.my-input , .my-textarea{
    display:block;
    width:500px;
    margin:10px;
    border-radius: 10px;
    resize: none;
}
#title{
    display:block;
}
.profile-menu{
    display:inline-block;
    list-style: none;
    float: right;
}
.submenu{
    list-style: none;
    padding: 0px;
    border: 1px solid #aaa;
    background: #fff;
    margin-top: 40px;
    box-shadow: 2px 2px 15px rgba(0,0,0,.3);
    width:300px;
    position:absolute;
    right:10px;
    display:none;
}
.submenu.active {
    display:block;
}
.submenu a{
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    color: #333;
    text-shadow: none;
    font-weight: 600;
    letter-spacing: 0px;
}
.submenu a:hover{
    background: #eee;
}